<html>

<head>
  <title>webrtc-test</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h3>Room List</h3>
  <% for(var i = 0; i < roomList.length; i++) {%> 
    <p>
      <a href="/room/<%= roomList[i].name %>"><%= roomList[i].name %></a> 
    </p>
  <% } %> 
  <form id="join">
    <input type="text" id="roomname" required size="50">
    <button type="submit">Join Room</button>
  </form>

  <script>
    let joinForm = document.getElementById('join');
    joinForm.addEventListener('submit', (e) =>{
      e.preventDefault();
      let name = document.getElementById("roomname").value;
      window.location.href = window.location.href + "room/" + name;
    });
  </script>
</body>

</html>