<html>

<head>
  <title>webrtc-test room</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/main.css">
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script>
    const roomname = "<%= roomname %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>


<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> HarmonyXR
</div>


<script type="module" src="/networking.js"></script>

<script type="module" src="/main.js"> </script>

  </div>
  
</body>

</html>