<html>

<head>
  <title>webrtc-test room</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="main.css">
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script>
    const roomname = "<%= roomname %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>

<!---->


<div id="info">
  <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> HarmonyXR
</div>


<script type="text/javascript" src="/networking.js"></script>

<script type="module" src="/main.js"> </script>

<!---->


  <!-- <div id="container"> -->
    <!-- <div class="videos-group"> -->
      <!-- <div id="video-grid"> -->

      <!-- </div> -->
    <!-- </div> -->



    <!-- text area for chatting with other users -->
   <!-- <textarea id="chatArea" onfocus="javascript:blur();"
      style="width: 300px; height: 500px; cursor: default;"></textarea>
      -->
    <!-- chatting input -->
    
    <!--
    <form id="chatForm">
      <input id="chatInput" autocomplete="off" type="text" required>
      <button type="submit">Send</button>
    </form>
    -->
  </div>
  
</body>

</html>